h1 {
    color:#d6dee3;

}
.header{
    background-color:#DC554E;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.sitedescription{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

p,h2{text-align: center;}

h2{
    color:royalblue
}